/* Importing font to be used */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

/* Applying font to all elements in body and making the body flush with the browser */
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    background-color: #DAF0EE;
}


/* CSS for navigation bar items */
header nav ul{
    list-style: none;
    margin: 0px;
    padding: 25px 0px;
    justify-content: space-evenly;
    font-size: 20px;
}

/* Pushes navigation bar to the right with a spacing between each element */
header nav ul li{
    display: inline-block;
    padding: 15px;
    margin-left: 20px;
    color: black;
    background-color: #94d1be;
    border-radius: 10px;
    font-weight: 600;
}

/* Makes navigation bar items not have underline and inherits black colour */
header nav ul li a{
    color: inherit;
    text-decoration: none;
}

/* Changes how navigation bar items look if user hovers over it */
header nav ul li a:hover{
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

/* CSS for the banner photo under the nav bar */
.photo-part{
    margin-top: 0px;
    background-image: url("images/grouppic.png");
    height: 450px;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* CSS for the avatar/picture of myself  */
.my-face{
    background-image: url("images/myself.jfif");
    height: 250px;
    width: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    left: 0; 
    right: 0; 
    bottom: -110px;
    margin-left: auto; 
    margin-right: auto; 
    border: 5px;
    border-color: #DAF0EE;
    border-style: solid;
}

/* CSS for my name to be displayed over the banner */
.myName{
    position: absolute;
    text-align: center;
    left: 0%;
    right: 0%;
    top: 150px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    color: #DAF0EE;
    text-shadow: 1px 0px 10px #000000;
}

/* Creates flexbox for content and centers all content in flexbox */
.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 200px;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
}

/* Sets max. width for the contactInformation flexbox/class */
.contactInformation{
    width: 500px;
}

/* Sets max. width for the contactInformation flexbox/class, displays questions in a column */
form{
    display: flex;
    flex-direction: column;
    width: 500px;
}

/* Spaces form elements 10px from each other/other elements */
form label {
    padding: 10px;
}

/* Spaces the textbox away from the label and sets the size of textbox */
.nameInput{
    margin-left: 27px;
    width: 300px;
}

/* Spaces the textbox away from the label and sets the size of textbox */
.emailInput{
    margin-left: 31px;
    width: 300px;
}

/* Spaces the textbox away from the label and sets the size of textbox */
.messageInput{
    margin-left: 6px;
    text-align: left;
    width: 300px;
    height: 120px;
}

.submitButton{
    display: block;
    margin: auto;
    letter-spacing: 1px;
    width: 130px;
    height: 30px;
}

/* Creates a flex to display my contact information  */
.contactFooter{
    height: 100px;
    background: #9DB5B2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

/* Makes a flexbox */
.socials{
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
    margin-bottom: 35px;
}

/* Sets CSS styles for the individual icon at the footer */
.instagram{
    background-image: url("images/instagramIcon.png");
    height: 35px;
    width: 35px;
    background-size: cover;
    background-position: center;
    margin-left: 25px;
    margin-right: 25px;
}

/* Sets CSS styles for the individual icon at the footer */
.linkedin{
    background-image: url("images/linkedinIcon.png");
    height: 35px;
    width: 35px;
    background-size: cover;
    background-position: center;
    margin-left: 25px;
    margin-right: 25px;
}

@media only screen and (max-width:600px){
    /* Turns nav bar into flex display and displays it to middle instead of right */
    header nav ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: space-evenly;
        font-size: 16px;
        padding-bottom:0px;
        font-weight: bolder;
        height: 40px;
    }

    /* Pushes navigation bar to the right with a spacing between each element */
    header nav ul li{
        display: inline-block;
        padding: 10px;
    }


    .contactInformation{
        width: 400px;
    }

    form{
        width: 400px;
    }

    /* Spaces the textbox away from the label and sets the size of textbox */
    .nameInput{
        margin-left: 1px;
        width: 300px;
    }

    /* Spaces the textbox away from the label and sets the size of textbox */
    .emailInput{
        margin-left: 2px;
        width: 300px;
    }

    /* Spaces the textbox away from the label and sets the size of textbox */
    .messageInput{
        margin-left: 0px;
        width: 277px;
    }

    h2{
        text-align: center;
    }
}

/* Pushes my name up because it gets too close to avatar at 450px */
@media only screen and (max-width: 450px){
    .myName{
        top: 90px;
    }
}